<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <config>
    <add key="http_proxy" value="" />
    <add key="https_proxy" value="" />
    <add key="NUGET_HTTP_CACHE_PATH" value="$HOME/.local/share/NuGet/v3-cache" />
    <add key="NUGET_PACKAGES" value="$HOME/.nuget/packages" />
    <add key="NUGET_CERT_REVOCATION_MODE" value="offline" />
  </config>
  <packageSourceCredentials>
    <nuget.org>
      <add key="Username" value="optional" />
      <add key="ClearTextPassword" value="optional" />
    </nuget.org>
  </packageSourceCredentials>
</configuration>
